body {

}

html {


}

.TitleMain {
    font-family: monospace;
    font-size: 50px;
    display: flex;
    text-align: center;
    margin-left: 80vh;
    margin-right: 80vh;
    margin-top: 15vh;
}

.search {
    padding-left: 20%;
    padding-right: 20%;
}

.searchbar {
    background-color: #C1C1C1;
    font-size: 30px;
    text-align: left;
    max-width: fit-content;
}

.searchbutton {
    font-size: 30px;
}